<!DOCTYPE html>
<html>
        <head>
                <title>Django Demo App</title>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
        </head>
        <body>
		<h1>Django App Demo</h1>
		<h2>Welcome to the Django Demo App!</h2>
		<p>This app is a basic Django app being hosted with DataHub! Django is a popular web framework for building websites and web applications using Python.</p>
		<p>We have a couple demo pages to view some basic functionality of Django:</p>
		<ul>
			<li><a href="/demoapp/books/">Childrens Books</a></li>
			<li><a href="/hnpstats/stats/">Health, Nutrition, and Population Stats</a></li>
		</ul>
		<p>Our team is happy to support the deployment of other Django apps!</p>
	</body>
</html>
